*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/app/build/
/captures/
.externalNativeBuild/
.cxx/
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
.kotlin/

build-log.txt
.tmp-aar/
.tmp-sv/

elevation-api/.venv/
elevation-api/__pycache__/
elevation-api/**/__pycache__/
app/release/


